<p-toast></p-toast>
<p-confirmDialog
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<div class="grid">
  <div class="col-12 p-0 md:p-3">
    <div class="card">
      <div class="grid grid-nogutter flex-row justify-content-between">
        <h3 class="font-bold">
          {{ (!dataId ? "Title.Create" : "Title.Detail") | translate }}
        </h3>
      </div>
      <p-messages [(value)]="msgs" [enableService]="false"> </p-messages>
      <form #f="ngForm" novalidate>
        <div class="grid">
          <div class="col-12">
            <p-toolbar>
              <div class="p-toolbar-group-left flex flex-wrap">
                <button
                  *ngIf="canModify"
                  pButton
                  type="button"
                  icon="pi pi-check"
                  [label]="'Button.Save' | translate"
                  class="p-button-success mr-2"
                  [disabled]="!f.form.valid || f.form.pristine"
                  (click)="onSubmit()"
                  [loading]="isLoading"
                ></button>
                <button
                  *ngIf="canModify"
                  pButton
                  type="button"
                  icon="pi pi-trash"
                  [label]="'Button.Delete' | translate"
                  class="p-button-danger mr-2"
                  (click)="onDelete()"
                  [loading]="isLoading"
                ></button>
              </div>
              <div class="p-toolbar-group-right flex flex-wrap">
                <button
                  pButton
                  type="button"
                  icon="pi pi-refresh"
                  [pTooltip]="'Button.Refresh' | translate"
                  tooltipPosition="bottom"
                  class="p-button-primary mr-2"
                  (click)="fetchData()"
                  [loading]="isLoading"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-times"
                  [pTooltip]="'Button.Back' | translate"
                  tooltipPosition="bottom"
                  class="p-button-primary mr-2"
                  (click)="onBack()"
                  [loading]="isLoading"
                ></button>
              </div>
            </p-toolbar>
          </div>
        </div>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-4">
            <label for="licensePlate" class="font-bold">{{
              "Label.LicensePlate" | translate
            }}</label>
            <input
              type="text"
              id="licensePlate"
              name="licensePlate"
              pInputText
              [(ngModel)]="data.licensePlate"
              placeholder="เช่น 1กก-1234, กก-1234, 123-1234"
              #licensePlate="ngModel"
              required
              [ngClass]="{
                'ng-invalid ng-dirty':
                  licensePlate.invalid &&
                  (licensePlate.dirty || licensePlate.touched)
              }"
            />
            <small
              class="p-error block"
              *ngIf="
                licensePlate.invalid &&
                (licensePlate.dirty || licensePlate.touched)
              "
            >
              {{
                "Message.Validation.Required"
                  | translate : { field: "Label.LicensePlate" | translate }
              }}
            </small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="trailerType" class="font-bold">{{
              "Label.TrailerType" | translate
            }}</label>
            <p-dropdown
              id="trailerType"
              name="trailerType"
              #trailerType="ngModel"
              [options]="trailer_types"
              [(ngModel)]="data.trailerType"
              optionLabel="label"
              optionValue="value"
              [placeholder]="'Label.TrailerType' | translate"
              required
              [ngClass]="{
                'ng-invalid ng-dirty':
                  trailerType.invalid &&
                  (trailerType.dirty || trailerType.touched)
              }"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
            >
              <ng-template let-item pTemplate="item">
                {{ item.label }}
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                {{ item.label }}
              </ng-template>
            </p-dropdown>
            <small
              class="p-error block"
              *ngIf="
                trailerType.invalid &&
                (trailerType.dirty || trailerType.touched)
              "
            >
              {{
                "Message.Validation.Required"
                  | translate : { field: "Label.TrailerType" | translate }
              }}
            </small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="trailerSize" class="font-bold">{{
              "Label.TrailerSize" | translate
            }}</label>
            <p-dropdown
              id="trailerSize"
              name="trailerSize"
              #trailerSize="ngModel"
              [options]="trailer_sizes"
              [(ngModel)]="data.trailerSize"
              optionLabel="label"
              optionValue="value"
              [placeholder]="'Label.TrailerSize' | translate"
              required
              [ngClass]="{
                'ng-invalid ng-dirty':
                  trailerSize.invalid &&
                  (trailerSize.dirty || trailerSize.touched)
              }"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
            >
              <ng-template let-item pTemplate="item">
                {{ item.label }}
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                {{ item.label }}
              </ng-template>
            </p-dropdown>
            <small
              class="p-error block"
              *ngIf="
                trailerSize.invalid &&
                (trailerSize.dirty || trailerSize.touched)
              "
            >
              {{
                "Message.Validation.Required"
                  | translate : { field: "Label.TrailerSize" | translate }
              }}
            </small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="trailerType" class="font-bold">{{
              "Label.TrailerGroup" | translate
            }}</label>
            <input
              type="text"
              id="trailerGroup"
              name="trailerGroup"
              pInputText
              [(ngModel)]="data.trailerGroup"
              #trailerGroup="ngModel"
            />
          </div>
          <div class="field col-12 md:col-4">
            <label htmlFor="locationId">
              {{ "Label.Yard" | translate }}
            </label>
            <p-dropdown
              id="locationId"
              name="locationId"
              #location="ngModel"
              [options]="yards"
              [(ngModel)]="data.locationId"
              optionLabel="yardNo"
              optionValue="id"
              [placeholder]="'Select.Yard' | translate"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
            >
              <ng-template let-item pTemplate="item">
                {{ item.yardType }} - {{ item.yardNo }}
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                {{ item.yardType }} - {{ item.yardNo }}
              </ng-template>
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-4">
            <label htmlFor="status">
              {{ "Label.Status" | translate }}
            </label>
            <p-dropdown
              id="status"
              name="status"
              #status="ngModel"
              [options]="statusOptions"
              [(ngModel)]="data.status"
              optionLabel="label"
              optionValue="value"
              [placeholder]="'Select.Status' | translate"
              required
              [ngClass]="{
                'ng-invalid ng-dirty':
                  status.invalid && (status.dirty || status.touched)
              }"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
            >
              <ng-template let-item pTemplate="item">
                {{ item.value }}
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                {{ item.value }}
              </ng-template>
            </p-dropdown>
            <small
              class="p-error block"
              *ngIf="status.invalid && (status.dirty || status.touched)"
            >
              {{
                "Message.Validation.Required"
                  | translate : { field: "Label.Status" | translate }
              }}
            </small>
          </div>
        </div>
        @if (data.outDcLicensePlate != null || data.outDcDriver != null) {
        <hr />
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-4">
            <label for="outDcLicensePlate" class="font-bold">{{
              "Label.OutDcLicensePlate" | translate
            }}</label>
            <input
              type="text"
              id="outDcLicensePlate"
              name="outDcLicensePlate"
              pInputText
              [(ngModel)]="data.outDcLicensePlate"
              #outDcLicensePlate="ngModel"
            />
          </div>
          <div class="field col-12 md:col-4">
            <label for="outDcDriver" class="font-bold">{{
              "Label.OutDcDriver" | translate
            }}</label>
            <input
              type="outDcDriver"
              id="outDcDriver"
              name="outDcDriver"
              pInputText
              [(ngModel)]="data.outDcDriver"
              #outDcDriver="ngModel"
            />
          </div>
        </div>
        }
      </form>
    </div>
  </div>
</div>
