.p-tabview-nav .tab-one {
    background-color: #ffcccc;
  }
  
  /* Tab 2 */
  .p-tabview-nav .tab-two {
    background-color: #ccffcc;
  }
  
  /* Tab 3 */
  .p-tabview-nav .tab-three {
    background-color: #ccccff;
  }