
.p-progressbar-green {
  border: 0 none;
  height: 1.5rem;
  background: rgb(149, 227, 149) !important; 
  border-radius: 6px;
  color: rgb(21, 142, 21);
}
.p-progressbar-red {
  border: 0 none;
  height: 1.5rem;
  background: rgb(229, 186, 186) !important; 
  border-radius: 6px;
  color: rgb(133, 30, 30);
}

.p-progressbar-blue {
  border: 0 none;
  height: 1.5rem;
  background: rgb(186, 194, 229) !important; 
  border-radius: 6px;
  color: rgb(31, 68, 161);
}

// .p-progressbar .p-progressbar-value{
//   background-color: blueviolet !important;
// }


// .pi {
//   margin: 5px;
//   font-size: xx-large;
//   display: grid;
// }
