<!-- <p-toast></p-toast> -->
<p-confirmDialog
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<div class="card col-12 p-0 md:p-3">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-item-center justify-content-center">
      <h3 class="font-bold">Create Booking by excel import</h3>
    </div>
    <div class="flex align-item-center justify-content-center">
      <div class="align-item-center mr-2 ">
        <p-button icon="pi pi-refresh" (click)="refresh()"></p-button>
      </div>
      <div class="align-item-center mr-2 ">
        <!-- <button
          pButton
          type="button"
          class="p-button"
          (click)="onSaveBooking()"
          [disabled]="!isCompleted"
          name="btnsave"
          id="btnsave"
          icon="pi pi-save"
          label="Save Booking"
          style="margin-top: 0px"
          [loading]="isLoading"
        ></button> -->
      </div>
    </div>    
  </div>
  <div class="w-full md:w-12 mx-auto">
    <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
  </div>
  <div class="flex flex-row justify-content-between">
    <div *ngIf="suppliers" class="pt-2">
      <form #supForm="ngForm">
        <div class="formgrid grid p-fluid justify-content-start">
          <div class="field col-12 md:col-4">
            <label>
              Supplier
              <span class="p-error"> *</span>
            </label>
            <p-dropdown
              id="supCode"
              name="supCode"
              #supCode="ngModel"
              [options]="suppliers"
              [(ngModel)]="supplierSelected"
              optionLabel="supName"
              optionValue="supCode"
              [filter]="!isSelect"
              filterBy="supCode"
              [showClear]="!isSelect"
              [placeholder]="'Select.SupplierCode' | translate"
              required
              [readonly]="isSelect"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  supCode.invalid && (supCode.dirty || supCode.touched)
              }"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
              (onChange)="getSupplierValue()"
            >
              <ng-template let-item pTemplate="item">
                {{ item.supCode }} - {{ item.supName }}
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                {{ item.supCode }} - {{ item.supName }}
              </ng-template>
            </p-dropdown>
            <small
              class="p-error block"
              *ngIf="supCode.invalid && (supCode.dirty || supCode.touched)"
            >
              {{
                "Message.Validation.Required"
                  | translate : { field: "Label.SupplierCode" | translate }
              }}
            </small>
          </div>
    
          <div class="field col-12 md:col-3">
            <label for="bookingDate">Delivery Date</label>
            <p-calendar
              [(ngModel)]="bookingDate"
              dateFormat="dd/mm/yy"
              inputId="bookingDate"
              showIcon="true"
              required
              name="bookingdate"
              #bookingdate="ngModel"
              [minDate]="minDate"
              showOn="none"
              [disabled]="isSelect"
            >
            </p-calendar>
          </div>
          <div class="flex field col-12 md:col-5 justify-content-start">
            <div class="flex-wrap justify-content-start">
              <button
                pButton
                type="button"
                class="p-button"
                (click)="onSelectSup()"
                [disabled]="!supForm.form.valid"
                label="OK"
                icon="pi pi-check"
                style="margin-top: 1.5rem"
              ></button>             
            </div>
            <div class="flex-wrap justify-content-center ml-4 mr-2">
              <button pButton class="p-button" 
                type="button" 
                name="btnexport" 
                id="btnexport" 
                style="margin-top: 1.5rem"
                icon="pi pi-file-excel" 
                (click)="export()" 
                label="Export file format">
              </button>
            </div>            
          </div>
          <div class="field col-12 md:col-4">
            <label for="contactName"
              >Contact name
              <span class="p-error"> *</span>
            </label>
            <input
              id="contactName"
              pInputText
              type="text"
              #contactname="ngModel"
              [(ngModel)]="contactName"
              name="contactname"
              placeholder="Input contact name"
            />
          </div>
    
          <div class="field col-12 md:col-3">
            <label for="telNo"
              >Tel No.
              <span class="p-error"> *</span>
            </label>
            <input
              id="telNo"
              pInputText
              type="text"
              name="telno"
              #telNo="ngModel"
              required
              [(ngModel)]="contactPhone"
              placeholder="Input tel no."
            />
          </div>
          <div class="field col-12 md:col-5">
            <label for="email"
              >e-Mail
              <span class="p-error"> *</span>
            </label>
            <textarea
              rows="1"
              id="email"
              name="email"
              #email="ngModel"
              pInputTextarea
              [(ngModel)]="contactEmail"
              placeholder="Input email"
            ></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>

<div *ngIf="isSelect" class="card">
  <div class="formgrid grid p-fluid -mt-4">
    <div class="field col-12 md:col-3">
      <input
        hidden
        name="fileupload"
        id="fileupload"
        type="file"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        #uploader
        (change)="importfile($event)"
        [(ngModel)]="fileName"        
        [ngModelOptions]="{standalone: true}"
      />
      <button 
        pButton class="p-button" 
        type="button" 
        name="btnupload" 
        id="btnupload" 
        style="margin-top:26px" 
        icon="pi pi-file-excel" 
        label="Upload excel file"
        icon="pi pi-upload" 
        (click)="uploader.click()"
      >
      </button>
    </div>

    <div class="field col-12 md:col-3">
      <button pButton class="p-button" 
        type="button" 
        name="btnsave" 
        id="btnsave" 
        style="margin-top:26px;" 
        icon="pi pi-save"
        label="Import data"
        (click)="importBooking()"
        [disabled]="!isCompleted"
      >
      </button>
    </div>

    <div class="field col-12 md:col-3">
      <button pButton class="p-button" 
        type="button" 
        name="btnexport" 
        id="btnexport" 
        style="margin-top:26px;" 
        icon="pi pi-save"
        label="Export result"
        (click)="exportResult()"
        [disabled]="!isUploaded"
      >
      </button>
    </div>
    
  </div>

  <p-tabView [scrollable]="true" *ngIf="dataSourceExcel">
    <p-tabPanel header="Excel data">
      <ng-template pTemplate="content">
        <div class="flex justify-content-end flex-wrap">
          <label class="text-red-500">*สีแดง หมายถึง ได้รอบเวลาที่จัดส่งไม่ตรงตามที่ต้องการ หรือ Cap เต็ม รอการยืนยันจากทีม Booking</label>
        </div>
        <p-table
          [columns]="excelCols"
          [value]="dataSourceExcel"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <span *ngIf="col.display === 'string' && rowData['systemOverride'] === true" style="white-space: pre-line;color: red;">
                  {{ rowData[col.field] }}
                </span>
                <span *ngIf="col.display === 'string' && rowData['systemOverride'] !== true" style="white-space: pre-line;">
                  {{ rowData[col.field] }}
                </span>
                <span *ngIf="col.display === 'time' && rowData['systemOverride'] === true" style="white-space: pre-line;color: red;">
                  {{ rowData[col.field] | date: "HH:mm" }}
                </span>               
                <span *ngIf="col.display === 'time' && rowData['systemOverride'] !== true" style="white-space: pre-line;">
                  {{ rowData[col.field] | date: "HH:mm" }}
                </span>                  
              </td>                
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-tabPanel>    
    <p-tabPanel header="Summary result" *ngIf="dataSourceResult">
      <ng-template pTemplate="content">   
          <p-table
            [columns]="resultCols"
            [value]="dataSourceResult"
            responsiveLayout="scroll"
          >
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-columns="columns"
            >
              <tr>
                <td *ngFor="let col of columns">
                  <span *ngIf="col.display === 'string'">
                    {{ rowData[col.field] }}
                  </span>
                  <span *ngIf="col.display === 'time'">
                    {{ rowData[col.field] | date: "HH:mm" }}
                  </span>   
                  <span *ngIf="col.display === 'datetime'">
                    {{ rowData[col.field] | date: "dd/MM/yyyy HH:mm" }}
                  </span>                  
                </td>                
              </tr>
            </ng-template>
          </p-table>        
      </ng-template>
    </p-tabPanel>
  </p-tabView>

</div>
