:root .p-dialog .p-dialog-header{
  background: var(--primary-color);  
  color: white;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;  
  font-size: xx-large;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: white;
}

// .pi {
//   margin: 5px;
//   font-size: xx-large;
//   display: grid;
// }
