<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="card">    
    <h5>Forgot Password</h5>
    <form [formGroup]="loginForm">
      <div class="w-full md:w-10 mx-auto">
        <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
      </div>

  
      <div class="field">
        <label for="username1">User Login Name</label>
        <input id="username1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border 
        border-round appearance-none outline-none focus:border-primary w-full" formControlName="uname" autocomplete="off">
      </div>
      <div class="error-messages">
				<ng-container *ngFor="let error of error_messages.uname">
					<div class="error-message" *ngIf="loginForm.get('uname').hasError(error.type) && (loginForm.get('uname').dirty || loginForm.get('uname').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

      <div class="field">
        <label for="suppliercode1">Supplier Code</label>
        <input id="suppliercode1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border 
        border-round appearance-none outline-none focus:border-primary w-full" formControlName="supcode" autocomplete="off">
      </div>
      <div class="error-messages">
				<ng-container *ngFor="let error of error_messages.supcode">
					<div class="error-message" *ngIf="loginForm.get('supcode').hasError(error.type) && (loginForm.get('supcode').dirty || loginForm.get('supcode').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

			<button 
        pButton
        pRipple 
        type="button" 
        class="w-full p-3 text-xl text-center"
        [disabled]="!loginForm.valid" 
        label="Reset Password"
        (click)="register()">
      </button>
      <pre></pre>
      <button 
        pButton
        pRipple 
        type="button" 
        class="w-full p-3 text-xl text-center p-button-warning"
        label="Back"
        (click)="back()">
      </button>
    </form>  
  </div>  
</div>